@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Agdasima:wght@400;700&display=swap');

body{
  font-size: 16px;
  font-family: "Agdasima", sans-serif;
  background-color: rgb(56, 43, 43);
  color: white;
}

a {
  color: rgb(129, 216, 238);
}

a:hover {
  color: rgb(101, 241, 59);
  transition: all 0.5s ease-in-out;
}

img, iframe{
  max-width: 100%;
}

table{
  width: 100%;
}