
body{
  background-color: rgb(41, 31, 31);
  color: white;
}

.text-center{
  text-align: center;
}

a {
  color: rgb(238, 129, 205);
}

a:hover {
  color: rgb(101, 241, 59);
  transition: all 0.5s ease-in-out;
}

img, iframe{
  max-width: 100%;
  height: auto;
}

table{
  width: 100%;
}

.padding-imgPortada{
  padding: 20px;
}

.bg-imgPortada{
  background-color: rgb(85, 83, 83);
}



/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}